{% extends "prelogin-layout.html" %}

{% block title %}Not Found{% endblock %}

{% block content %}

<!-- // navbar -->
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <div class="container-fluid">


        <!-- // navbar collapse toggle button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- //navbar items -->
        <div class="collapse navbar-collapse" id="navbarResponsive">

        </div>
    </div>
</nav>

<!-- // post quiz container -->
<div class="container">
    <div class="row">
        <div class="col quiz-col">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-exclamation-triangle" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                <path
                    d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
            </svg>
            <h1>404 Page not Found</h1>
            <button class="register-btn" style="width: 300px;"><a href="{{ url_for('pre_quiz')}}"><svg width=" 2em"
                        height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left-short" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
                        <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                    </svg> Back to dashboard</a></button>

        </div>
    </div>
</div>


{% endblock %}