<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/stylesheets/tufte.css" />
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-AMS_CHTML"></script>



</head>

<body>
    <p>Firstly, we need to understand what we meant by division of two integers. Take as the Universal
        set, \(U,\) the set of all integers \(U= Z = \{ \ldots, -3, -2, -1, 0, 1, 2, 3, \ldots \}.\) For two elements
        \(x\) and \(y\) in \(Z,\) where \(y\) is not 0, we say that the integer \(y\) divides the integer \(x\) if
        there is an integer \(x+1\) where \23\ \q \(x = q*y + 0.\) [[a,b],[c,d]] $${\sqrt{x}}$$
    </p>
</body>

</html>